div{
    background: white;
    width: 300px;
    padding: 30px;
    border-radius: 50px;
  }
  h1{
    text-align : center;
  }
  
  p{
    font-size: 1.5em; 
    
  }
  
  img{
      border: 3px solid black;
  
  }
  body{
    background: blue ; 
    display: grid ;
    justify-content: center ; 
    align-content: center; 
    
  }
  